<%= form_with model: [ @list, @list.items.build ] do |form| %>
  <p>
    <%= form.label 'Adicione um novo item!' %><br>
    <%= form.text_area :descricao %>
  </p>
  <p>
    <%= form.submit class:'botao' %>
  </p>
<% end %>
