<div class="todo">

  <strong>Item: </strong>
  <p id="itemFeito" > <%= item.descricao %>
  </p>

  <div class="todo">
   <p>
    <button type="button" id="feito" class='botao'>Feito!</button>
  </p>

  <p>
    <%= button_to "Excluir", [item.list, item], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Tem certeza?"
    }, :method => :delete, class:'botao' %>
  </p>
</div>

</div>
